@font-face {
    font-family: 'Open Sans Italic';
    src: url('./style/fonts/opensans-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('./style/fonts/opensans-italic-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./style/fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('./style/fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 1.1rem;
    background-color: #272629;
    color: white;
}

#root {
    overflow: auto;
    height: 100%;
    display: grid;
    grid: 10rem 1fr 5rem / 1fr;
    justify-items: center;
}

.header-container {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.6rem 0;
}

.header-content {
    font-size: 3.2rem;
    font-weight: bold;
}

.header-nav {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 0.6rem;
}

.nav-item {
    padding: 0.4rem 0.4rem;
    padding-top: 0.5rem;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 0.4rem;
}

.nav-item:hover {
    background-color: black;
}

.main-container {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-container .game-portrait {
    margin: 0 5%;
    max-width: 105ch;
    height: 70vh;
    position: relative;
}

.main-container .game-hold-portrait {
    margin: 0 5%;
    max-width: 105ch;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.main-container .stage-selector {
    margin: 0 5%;
    max-width: 45ch;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem 0.9rem;
    border: 1px solid white;
    gap: 0.8rem;
}

.game-portrait .game-selector {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    background-color: white;
    border-radius: 0.4rem;
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.game-selector .game-selector-item {
    padding: 0.2rem 0.4rem;
}

.game-selector .game-selector-item:hover {
    background-color: rgb(39, 38, 41, 0.1);
}

.game-portrait .background {
    width: 100%;
    height: 100%;
}

.game-portrait .game-finished {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
    top: 0; left: 0;
    background-color: rgb(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.game-finished .finished-box
{
    max-width: 60%;
    padding: 0.8rem 1.2rem;
    background-color: white;
    color: black;
    box-shadow: 0 0 0.2rem rgb(0, 0, 0, 0.15);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 0.9rem;
}

.finished-box .finished-box-title {
    font-size: 1.6rem;
    font-weight: bold;
}

.finished-box input {
    padding: 0.3rem 0.3rem;
    margin: 0.2rem 0.2rem;
    margin-right: 0.5rem;
    border-radius: 0.4rem;
    border: 0;
    background-color: aliceblue;
}

.finished-box input:focus {
    outline: none;
    border: 1px solid rgb(0, 0, 0, 0.2)
}

.finished-box button {
    padding: 0.3rem 0.8rem;
    border-radius: 0.2rem;
    border: 0;
    background-color: rgb(43, 43, 43, 0.6);
    color: white;
}

.finished-box button:hover {
    background-color: rgb(43, 43, 43);
}

.game-portrait .circle {
    display: block;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
}

.stage-add img {
    height: 42px;
    transition: transform 0.4s ease-in-out;
}

.stage-add img:hover {
    transform: scale(1.1);
}

.main-container .game-leaderboard {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-leaderboard .leaderboard {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.leaderboard .leaderboard-item {
    display: grid;
    grid-template-columns: 1fr 10rem;
    padding: 0.4rem 0.4rem;
}

.leaderboard .alternate {
    background-color: rgb(255, 255, 255, 0.1);
}

.leaderboard-item .leaderboard-item-time {
    justify-self: flex-end;
}

.leaderboard-item .title {
    margin-bottom: 0.2rem;
}

.leaderboard-item .time-title {
    justify-self: auto;
    text-align: right;
    padding-right: 2rem;
}

.footer-container {
    grid-area: 3 / 1 / 4 / 3;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 950px) {
    .main-container {
        flex-direction: column;
    }

    .main-container .stage-selector {
        margin: 0 5%;
        max-width: 90vw;
        height: 10vh;
        flex-direction: row;
        padding: 1rem 0.9rem;
    }

    .stage-selector-caption {
        max-width: 9ch;
    }

}